In [1]:
# Assuming that we currently have tables named 'tb_order' as o, 'tb_user' as u, and 'tb_store' as s

In [ ]:
# Data Modification and Altering

#1. INSERT INTO can insert new records into a table

INSERT INTO tb_order (id, date, city) VALUES (9487, 2022/11/30, Tokyo)

#2. Use UPDATE to modify existing data in a table

UPDATE tb_order SET user_name = 'David' WHERE user_id = 1

#3. Use DELETE to delete existing data in a table

DELETE FROM tb_order as o WHERE o.user_id is null

#4. ADD can add a column

ALTER TABLE tb_user ADD Email varchar(255)

#5. DROP can delete a column

ALTER TABLE tb_user DROP COLUMN Email

#6. MODIFY can change the data type of a column

ALTER tb_order MODIFY COLUMN o.id int