In [ ]:
# Assuming that we currently have tables named 'tb_order' as o, 'tb_user' as u, and 'tb_store' as s

In [ ]:
# Search and Filter

#1. Extract all data from table

SELECT * FROM tb_order

#2. Using 'WHERE' to apply conditions (you can apply and, or, not, etc. to further filter the result)

SELECT * FROM tb_order o WHERE o.order_date >= 20220101 AND o.price < 100

#3. Using LIMIT to set the number of rows you want to output(often used with ORDER BY, ASC, DESC when you want the extrem value)

SELECT * FROM tb_user u ORDER BY u.age DESC LIMIT 1

#4. Using GROUP BY to group the result into sets by multiple columns(often used with aggregated functions such as MAX, MIN, COUNT, SUM, and AVG)

SELECT COUNT(o.id), o.city FROM tb_order o GROUP BY o.city

#5. Use LIKE in a WHERE clause to search with specific intent in a column
# '%' (percent sign)- a wildcard character that represents zero or more characters
# '_' (underscore)- a wildcard character that represents a single character

SELECT o.user_name FROM tb_order o WHERE o.last_name LIKE(several options showed below):
LIKE ‘a%’ (find any values that start with “a”)
LIKE ‘%a’ (find any values that end with “a”)
LIKE ‘%a%’ (find any values that have “a” in any position)
LIKE ‘_a%’ (find any values that have “a” in the second position)
LIKE ‘a_%_%’ (find any values that start with “a” and are at least 3 characters in length)
LIKE ‘[a-c]%’ (find any values starting with “a”, “b”, or “c”

#6. Use IN when specifying values in a WHERE clause
               
SELECT countd(o.id) FROM tb_order o WHERE o.city IN (Tokyo, London, Paris)

#7. BETWEEN operator selects values within a given range (inclusive)
               
SELECT u.name FROM tb_user u WHERE u.create_date BETWEEN 2022/1/1 and 2022/11/30

#8. NULL is a field with no value
               
SELECT u.id FROM tb_user u WHERE u.expire_date IS NULL
            
#or
               
SELECT u.id FROM tb_user u WHERE u.expire_date IS NOT NULL

#9. HAVING can be useful for additional filtering needs since WHERE could not be used with aggregate functions

SELECT COUNT(o.id), o.city FROM tb_order o GROUP BY o.city HAVING COUNT(o.id) > 20

#HAVING can also being used if there's a new alias created
          
SELECT COUNT(o.id) as 'order_count', o.city FROM tb_order o GROUP BY o.city HAVING order_count > 20